.btn-order {
  display: none;

  @media only screen and (max-width: $bp-small) {
    display: block;

    margin-top: 2rem;
    margin-right: 1rem;
    padding: 1.5rem 2rem;
    background-color: var(--color-blue-dark);
    font-size: 1.8rem;
    border-radius: 10px;
    color: var(--color-grey-light-1);
    display: flex;
    justify-content: center;
    align-items: center;

    &:focus {
      outline: none;
    }

    & > *:first-child {
    }
  }
}
