
// PRODUCTS BOX


  // Create the circle behind the slider arrow
  .swiper-button-prev::before,
  .swiper-button-next::before {
    content: "";
    position: absolute;
    width: 7rem;
    height: 7rem;
    background-color: var(--color-grey-light-1);
    border-radius: 50%;
    border: solid var(--color-grey-light-4) 0.2px;
    z-index: -1;
  }
  
  // Style slider arrows
  .swiper-button-next::after,
  .swiper-button-prev::after{
    position: relative;
    font-size: 1.5rem !important;
    font-weight: 700;
    color: #495057;;
  }
  
  // Position arrows inside of the circle
  .swiper-button-prev::after{
    transform: translateX(200%);
  }
  .swiper-button-next::after{
    transform: translateX(-200%);
  }
  
  // Position slider buttons in products box
  .swiper-button-prev {
    transform: translateY(-16rem) translateX(-3rem);
  }
  .swiper-button-next {
    transform: translateY(-16rem) translateX(3rem);
  }
  
  // Style product cards
  .products__cards {
    display: flex;
    width: 100%;
    height: 100%;
    // Must be so othwerwise slider does not work properly
    overflow-x: visible;
  }
  .products__card {
    // Set the size of product card
    width: 18.5rem;
    height: 50rem;
  
    display: flex;
    flex-direction: column;
  
    // Style the image of product
    &-img-container {
      margin: 0.2rem;
      flex: 0 0 45%;
    }
    &-img {
      background-color: var(--color-grey-light-2);
      height: 100%;
      width: 100%;
      object-fit: fill;
    }
  
    // Style the descripton of products
    &-description {
      color: var(--color-grey-dark-3);
      font-size: 1.3rem;
      font-weight: 600;
      padding: 2rem 0.2rem;
      padding-top: 2.2rem;
  
      // Set the height
      flex: 0 0 4%;
  
      // Add three dots at the end of second line
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  
    // Style the price of product
    &-price {
      margin-top: 2.5rem;
      color: var(--color-grey-dark-3);
      font-size: 2rem;
      font-weight: 700;
      padding: 1rem 1rem;
  
      background-color: #f1f3f5;
    }
  
    // Style shipping section of product
    &-shipping {
      margin-top: 1.1rem;
      margin-left: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
  
      svg {
        margin-left: 0.2rem;
        width: 2em;
        height: 2em;
        fill: #2b8a3e;
      }
      span {
        text-align: center;
        margin-left: 0.8rem;
        font-size: 1.2rem;
        font-weight: 700;
        color: #868e96;
      }
    }
  }
  