/*
COLORS

Primary: #1B65A7;
Primary light: #2077c6;
Primary dark: #12426e;

Grey light 1: #FFFFFF
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #040615;
Grey dark 2: #0c1240;
Grey dark 3: #141f6b;

*/
:root {
  --color-blue: #339af0;
  --color-blue-dark: #1864ab;
  --color-blue-light: #d0ebff;
  --color-grey-light-1: #ffffff;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #adb5bd;
  --color-grey-dark-2: #868e96;
  --color-grey-dark-3: #212529;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-2); }

* {
  margin: 0;
  padding: 0; }

*,
*:before,
*:after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-3);
  background-image: linear-gradient(to right bottom, var(--color-grey-light-3), var(--color-grey-light-4));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none; }

.container {
  max-width: 120rem;
  min-height: 96vh;
  margin: 2rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  overflow: hidden;
  display: grid;
  grid-template-columns: 18% 1fr;
  grid-template-rows: max-content 1fr; }

.header {
  grid-column: 1 / -1;
  font-size: 2.5rem;
  font-weight: 500;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .header span {
    margin-left: 2.5rem; }

.content {
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  display: flex;
  width: 100%;
  height: 100%; }
  @media only screen and (max-width: 56.25em) {
    .content {
      flex-direction: column; } }

.sidebar {
  background-color: var(--color-grey-light-1);
  display: flex;
  flex: 0 0 18%;
  flex-direction: column;
  justify-content: space-between; }

.products {
  flex: 1 0 auto;
  margin-left: 1.5rem;
  position: relative; }

.side-nav {
  font-size: 1.5rem;
  list-style: none;
  margin-top: 1rem;
  min-width: max-content;
  min-height: max-content;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .side-nav {
      display: flex;
      margin: 0; } }
  .side-nav > * {
    padding: 2.5rem 0.1rem;
    cursor: pointer;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-self: center; }
  .side-nav__item {
    position: relative;
    color: var(--color-grey-dark-2);
    font-weight: 500; }
    .side-nav__item:not(:last-child) {
      margin-bottom: 0.5rem; }
      @media only screen and (max-width: 56.25em) {
        .side-nav__item:not(:last-child) {
          margin: 0; } }
    @media only screen and (max-width: 56.25em) {
      .side-nav__item {
        flex: 1; } }
  .side-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 5px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: var(--color-blue-dark);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .side-nav__item:hover {
    background-color: var(--color-blue-light);
    color: var(--color-blue-dark); }
  .side-nav__item--active {
    color: var(--color-blue-dark);
    background-color: var(--color-blue-light); }
  .side-nav__item:hover::before, .side-nav__item--active::before {
    transform: scaleY(1); }
  .side-nav__item:active::before {
    background-color: var(--color-blue-dark); }
  .side-nav__link:link, .side-nav__link:visited {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 1rem 2.5rem;
    z-index: 10;
    display: flex;
    align-items: center; }
    .side-nav__link:link span, .side-nav__link:visited span {
      display: inline-block;
      width: 19rem;
      white-space: nowrap;
      overflow: hidden !important;
      text-overflow: ellipsis; }

.products__slider-button {
  position: absolute;
  width: 2.5em;
  height: 2.5rem;
  color: var(--color-grey-light-4); }

.products__cards {
  display: flex;
  list-style: none;
  overflow-x: visible; }

.products__card {
  margin: 2rem 2rem;
  width: 18.5rem;
  height: 50rem;
  display: flex;
  flex-direction: column; }
  .products__card-img-container {
    background-color: var(--color-grey-light-2);
    margin: 0.2rem;
    flex: 0 0 45%; }
  .products__card-img {
    background-color: var(--color-grey-light-2);
    height: 100%;
    width: 100%;
    object-fit: fill; }
  .products__card-description {
    color: var(--color-grey-dark-3);
    font-size: 1.3rem;
    font-weight: 600;
    padding: 2rem 0.2rem;
    padding-top: 1rem;
    flex: 0 0 11%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; }
  .products__card-price {
    margin-top: 2.5rem;
    color: var(--color-grey-dark-3);
    font-size: 2rem;
    font-weight: 700;
    background-color: #f1f3f5; }
  .products__card-shipping {
    margin-top: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start; }
    .products__card-shipping svg {
      margin-left: 0.2rem;
      width: 2em;
      height: 2em;
      fill: #2b8a3e; }
    .products__card-shipping span {
      text-align: center;
      margin-left: 0.8rem;
      font-size: 1.2rem;
      font-weight: 700;
      color: #868e96; }
